.back-game{
    background-color: rgb(171, 211, 230);
}
.color-footer{
    color:  rgb(255, 255, 255) !important;
}
.color-canvas{
    background-color: rgb(255, 255, 255);
}

.bouton-replay{
    margin: 1em 1em 1em 0em;
}